.container{
	text-align: center;
	align-content: center;
	margin-right: 100px;
	margin-left: 100px;
}

option{
	text-align: center;
}

table,tr,td{
	margin-left: 600px;
	border: 1px solid black;
	border-collapse: collapse; 
	padding: 5px;
}

input{
	width:60px;
}

#correct, #answer1{
	color: green;
}

#wrong, #answer2{
	color: red;
}